* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  display: block;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-green {
  background: green;
  color: #fff;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
  margin-bottom: 1rem;
}

.filterInput {
  margin: 1.5rem 0;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
button {
  font: inherit;
}

/* navigation */
.form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-inline input {
  size: 2;
  border-radius: 5px;
  width: 150px;
  vertical-align: middle;
  margin: -2px 5px 5px 0;
  padding: 2px;
  background-color: #ddd;
  border: 1px solid #ddd;
}

.form-inline button {
  border-radius: 5px;
  padding: 2px 15px;
  margin: 24px 0 0 0;
  background-color: #0F42C1;
  border: 1px solid #09184D;
  color: white;
  cursor: pointer;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1558B9;
  color: #fff;
}

.navigation .loggedInNav a {
  padding-left: 25px;
  color: #fff;
  text-decoration: underline;
}

.navigation h1 a {
  color: #fff;
}

.form-inline button:hover {
  background-color: dodgerblue;
}

.loginSpacing {
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 10px;
}

/* Chat box */
.chatbox {
  width: 100%;
  height: 100%;
}

.col-md-2, .col-md-10 {
  padding: 0;
}

.center-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

.msg_container_base {
  border-right: 1px solid #D0D1E9;
  margin: 0;
  padding: 0 10px 10px;
  min-height: 79vh;
  max-height: 79vh;
  width: 100%;
  overflow-x: hidden;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #fff;
  color: #333;
  padding: 8px 8px 8px 16px;
  font-size: 14px;
  height: 60px;
  width: 100%;
  border-bottom: 2px solid #D0D1E9;
}

.top-bar h3 {
  width: 90%;
}

.top-bar img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.input-box {
  padding-left: 50px;
  width: 100%;
  height: 52px;
}

.input-box .input-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 94% 6%;
      grid-template-columns: 94% 6%;
  border-right: 1px solid #D0D1E9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-box .input-group img {
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.input-box .input-group input {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Centering x-axis */
}

.profile img {
  margin-top: 30px;
  width: 100px;
  height: 120px;
  border-bottom: 1px solid #D0D1E9;
}

.msg_receive {
  padding-left: 0;
  margin-left: 0;
  border-radius: 5px 5px 0 0;
}

.msg_sent {
  width: 100%;
  margin-right: 0;
  border-radius: 5px 5px 0 0;
}

.messages.msg_sent {
  background: #FF9C19;
  color: #fff;
  padding: 10px;
  height: 33px;
  border-radius: 2px;
  border-radius: 20px;
}

.messages.msg_receive {
  background: #F1F0F0;
  color: #333;
  padding: 10px;
  height: 33px;
  border-radius: 2px;
  border-radius: 20px;
}

.msg_container {
  padding: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px 5px 0 0;
}

.base_sent {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.msg_container_base::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.homepage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 22% 78%;
      grid-template-columns: 22% 78%;
}

.friendslist {
  border-right: 1px solid #D0D1E9;
  min-width: 420px;
  height: 92vh;
}

.friendslistnav {
  min-height: 60px;
  padding: 10px 16px;
}

.friendslistnav .chat-title {
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.friendslistnav .chat-title h3 {
  width: 90%;
  height: 100%;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.friendslistnav .chat-title i {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.friendsfilter {
  padding: 4px 0px 12px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.friendsfilter i {
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
}

.friendsfilter input {
  padding-left: 30px;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.eachfriendblock {
  cursor: pointer;
  width: 404px;
  height: 64px;
  padding-left: 10px;
  padding-right: 10px;
}

.eachfriendblock .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border: 1px solid #D0D1E9;
  border-radius: 10px;
}

.eachfriendblock .list div {
  width: 300px;
  padding-top: 10px;
  padding-left: 20px;
}

.eachfriendblock .list #eachFriendEdit {
  padding-top: 15px;
}

.registration-grid {
  background: #e9ebee;
  height: 94vh;
}

.registration-grid .late-reg h1 {
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
  font-size: 36px;
}

.registration-grid .late-reg h2 {
  font-size: 16px;
  font-family: 'Freight Sans', Helvetica, Arial, sans-serif !important;
}

.registration-grid .late-reg {
  width: 22%;
  margin: 0 auto;
}

.registration-grid .late-reg .form-group {
  border-radius: 5px;
  padding: 15px 0 15px 0;
}

.registration-grid .late-reg .signup-button {
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#79bc64), to(#578843));
  background: linear-gradient(#79bc64, #578843);
  font-size: 19px;
  color: #fff;
  padding: 7px 20px;
  -webkit-box-shadow: inset 0 1px 1px #a4e388;
          box-shadow: inset 0 1px 1px #a4e388;
}

.registration-grid .late-reg .signup-button:hover {
  border-color: #3b6e22 #3b6e22 #2c5115;
}

/* Friends page */
.friendsPage {
  background-color: rgba(0, 0, 0, 0.04);
  height: 92vh;
}

.friendsPage .filterAndFriends {
  background: #fff;
  width: 30%;
  margin: 0 auto;
}

.friendsPage .filterAndFriends .searchFriends {
  display: block;
}

.userCard {
  border-bottom: 1px solid #D0D1E9;
  padding: 10px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.userCard ul {
  list-style: none;
}

/* Profile Page */
.profile-grid {
  background: #e9ebee;
  height: 94vh;
}

.profile-grid .form-container {
  width: 25%;
  margin: 0 auto;
}

.profile-grid .form-container .form-group {
  padding: 10px 0 10px 0;
}

.profile-grid .form-container .signup-button {
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#79bc64), to(#578843));
  background: linear-gradient(#79bc64, #578843);
  font-size: 19px;
  color: #fff;
  padding: 7px 20px;
  -webkit-box-shadow: inset 0 1px 1px #a4e388;
          box-shadow: inset 0 1px 1px #a4e388;
}

.profile-grid .form-container .signup-button:hover {
  border-color: #3b6e22 #3b6e22 #2c5115;
}

@media (max-width: 1500px) {
  .homepage {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 22% 78%;
        grid-template-columns: 22% 78%;
  }
  .friendslist {
    min-width: 100%;
  }
  .eachfriendblock {
    width: 100%;
  }
  .registration-grid .late-reg {
    width: 40%;
  }
  .profile-grid .form-container {
    width: 40%;
  }
  .friendsPage .filterAndFriends {
    width: 40%;
  }
}

@media (max-width: 1200px) {
  .eachfriendblock .fa-comment-dots {
    display: none;
  }
  .registration-grid .late-reg {
    width: 50%;
  }
  .profile-grid .form-container {
    width: 50%;
  }
  .friendsPage .filterAndFriends {
    width: 50%;
  }
}

@media (max-width: 870px) {
  .homepage {
    display: block;
  }
  .friendslist {
    height: 100%;
  }
  .profile {
    display: none;
  }
  .input-box {
    padding-left: 0px;
  }
  .input-box .input-group {
    border: none;
  }
  .msg_container_base {
    height: 100%;
    min-height: 100%;
    border: none;
  }
  .registration-grid .late-reg {
    width: 80%;
  }
  .profile-grid .form-container {
    width: 80%;
  }
  .friendsPage .filterAndFriends {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .registration-grid .late-reg {
    width: 100%;
  }
  .profile-grid .form-container {
    width: 100%;
  }
  .friendsPage .filterAndFriends {
    width: 100%;
  }
  .form-inline {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-inline button {
    width: 100%;
  }
}
/*# sourceMappingURL=App.css.map */